name: Lint application on Ubuntu latest on Node 16

on:
  workflow_call:
    inputs:
      app-registry:
        default: false
        type: boolean

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
          cache: 'yarn'

      - name: Install yarn packages (from cache if available)
        run: yarn

      - name: Intialize app-registry
        run: yarn init-appregistry
        if: inputs.app-registry

      - name: Run linter
        run: NODE_ENV=production yarn lint
